<section *ngIf="!showLogin" class="">
<body>
    <div class="overlay"></div>
    <!-- <div class="navbar">
        <div class="navbar-left">
            <img src="/images/app-logo.png" alt="Logo" class="logo">
        </div>
        <div class="navbar-right">
            <button class="btn" (click)="onAbout()">About</button>
            <button class="btn" (click)="toggleLogin()">Login</button>
        </div>
    </div> -->

    <!-- <div class="bg-gradient-to-r from-[rgb(2,0,36)] via-[rgba(238,182,22,0.61)] to-[rgba(255,120,0,1)]">
        <nav class="border-gray-200 dark:bg-gray-900">
            <div class="flex flex-wrap items-center justify-between p-4">
                <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/images/app-logo.png" class="h-9" alt="Flowbite Logo" />
                <span
                    class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
                ></span>
                </a>
                <button
                data-collapse-toggle="navbar-default"
                type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-default"
                aria-expanded="false"
                >
                <span class="sr-only">Open main menu</span>
                <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 17 14"
                >
                    <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15"
                    />
                </svg>
                </button>
                <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul
                    class="font-medium flex flex-col p-4 md:p-0 mt-4 border md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
                >
                    <li>
                    <a
                        href="#"
                        class="inline-block px-5 py-1.5 ml-2 text-lg font-serif text-white bg-amber-900 rounded cursor-pointer hover:bg-amber-700 transition"
                        style="
                        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
                            -1px 1px 0 #000, 1px 1px 0 #000;
                        "
                    >
                        Home
                    </a>
                    </li>
                    <li>
                    <a
                    href="/login"
                        class="inline-block px-5 py-1.5 ml-2 text-lg font-serif text-white bg-amber-900 rounded cursor-pointer hover:bg-amber-700 transition"
                        style="
                        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
                            -1px 1px 0 #000, 1px 1px 0 #000;
                        "
                        
                    >
                        Login
                    </a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </div> -->
        

    <div class="navbar">
        <div class="navbar-left">
          <img src="/images/app-logo.png" alt="Logo" class="logo">
        </div>
        <div class="navbar-right">
          <button class="btn about-btn" (click)="onAbout()">About</button>
          <button class="btn login-btn" (click)="toggleLogin()">Login</button>
        </div>
      </div>
      
        <div class="main-content">
            <h1>WELCOME ATHLETICA !</h1>
            <p class="tagline">Track, Train, Triumph</p>
            <p class="new-user">New User? <br> Tap</p>
            <div class="buttons">
                <button class="btn" (click)="onAthlete()">Athlete</button>
                <button class="btn" (click)="onCoach()">Coach</button>
            </div>
        </div>
</body>
</section>

<app-login *ngIf="showLogin"></app-login>


