<div class="bg-cover bg-center box-border overflow-hidden max-h-screen" style="background-image: url('/images/marathon.png');">


    <div
    class="bg-gradient-to-r from-[rgb(2,0,36)] via-[rgba(238,182,22,0.61)] to-[rgba(255,120,0,1)]"
  >
    <nav class="border-gray-200 dark:bg-gray-900">
      <div class="flex flex-wrap items-center justify-between p-4">
        <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="/images/app-logo.png" class="h-10" alt="Flowbite Logo" />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
          ></span>
        </a>
        <button
          data-collapse-toggle="navbar-default"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul
            class="font-medium flex flex-col p-3 md:p-0 mt-4 border md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
          >
            <li>
              <a
                href="#"
                class="inline-block px-6 py-1.5 ml-2 text-xl font-serif text-white bg-amber-900 rounded cursor-pointer hover:bg-amber-800 transition"
                style="
                  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
                    -1px 1px 0 #000, 1px 1px 0 #000;
                "
                
  
              >
                Home
              </a>
            </li>
            <li>
              <a
  
                class="inline-block px-6 py-1.5 text-xl font-serif text-white bg-amber-900 rounded cursor-pointer hover:bg-amber-700 transition"
                style="
                  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
                    -1px 1px 0 #000, 1px 1px 0 #000;
                "
                (click)="onLogin()"
              >
                Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  

    <!-- <div class="navbar bg-gradient-to-r from-[rgb(2,0,36)] via-[rgba(238,182,22,0.61)] to-[rgba(255,120,0,1)]">
      <div class="navbar-left">
          <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
              <img src="/images/app-logo.png" alt="Logo" class="logo h-9" />
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
          </a>
      </div>
      <div class="navbar-right">
          <button class="btn inline-block px-5 py-1.5 ml-2 text-lg font-serif text-white bg-amber-900 rounded cursor-pointer hover:bg-amber-700 transition" 
                  (click)="onAbout()" 
                  style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
              Home
          </button>
          <button class="btn inline-block px-5 py-1.5 ml-2 text-lg font-serif text-white bg-amber-900 rounded cursor-pointer hover:bg-amber-700 transition" 
                  (click)="toggleLogin()" 
                  style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
              Login
          </button>
      </div>
  </div> -->

    <h1 class="p-6 text-xl font-semibold font-serif lg:text-6xl" style="color: #f5f5f5; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Personal Information</h1>
    <div class="flex items-center justify-center h-screen box-border mt-[-100px]">
      <form
        class="w-fit mx-auto mb-6 p-9 bg-white dark:bg-gray-800 rounded-lg shadow-md text-xl" 
        style="min-height: 300px;">
        <div class="grid md:grid-cols-2 md:gap-6 font-serif">
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="floating_first_name" id="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-amber-800 focus:outline-none focus:ring-0 focus:border-amber-800 peer" placeholder=" " required />
                <label for="floating_first_name" class="peer-focus:font-medium absolute text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-amber-800 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="floating_last_name" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-amber-800 focus:outline-none focus:ring-0 focus:border-amber-800 peer" placeholder=" " required />
                <label for="floating_last_name" class="peer-focus:font-medium absolute text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-amber-800 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last name</label>
            </div>
          </div>
        
        <div class="relative max-w-sm top-1 font-serif">
            <input datepicker id="default-datepicker" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="DOB"> 
        </div>

        <div class="h-9 relative z-0 w-full mb-5 group top-4 font-serif">
          <input
            type="email"
            name="floating_email"
            id="floating_email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-amber-800 focus:outline-none focus:ring-0 focus:border-amber-800 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-amber-800 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Personal mail-id</label
          >
        </div>

     <br>
     
     <h3 class="mb-2 font-medium text-gray-500 dark:text-white font-serif">Gender:</h3>
<div class="flex flex-wrap mb-4">
    <div class="flex items-center me-4">
        <input id="red-radio" type="radio" value="" name="colored-radio" class="w-5 h-5 text-amber-700 bg-white border-gray-300 focus:ring-amber-700 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="red-radio" class="ms-2 text-md font-medium font-serif text-gray-500 dark:text-gray-300">Male</label>
    </div>
    <div class="flex items-center me-4">
        <input id="green-radio" type="radio" value="" name="colored-radio" class="w-5 h-5 text-amber-700 bg-white border-gray-300 focus:ring-amber-700 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="green-radio" class="ms-2 text-md font-medium font-serif text-gray-500 dark:text-gray-300">Female</label>
    </div>
    <div class="flex items-center me-4">
        <input id="green-radio" type="radio" value="" name="colored-radio" class="w-5 h-5 text-amber-700 bg-white border-gray-300 focus:ring-amber-700 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="green-radio" class="ms-2 text-md font-medium font-serif text-gray-500 dark:text-gray-300">Other</label>
    </div>
</div>

<div class="relative z-0 w-full mb-5 font-serif">
    <input type="text" name="high" id="high" class="block py-2.5 px-0 w-full text-lg text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:borderamber-800 focus:outline-none focus:ring-0 focus:border-amber-800 peer" placeholder=" " required />
    <label for="high" class="peer-focus:font-medium absolute text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-amber-800 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Height</label>
</div>
<!-- <h3 class="mb-4 font-medium text-gray-500 dark:text-white font-serif">Choose your sport:</h3> -->

<form class="max-w-sm mx-auto">
    <label for="sport" class="block mb-2 text-xl font-medium font-serif text-gray-500 dark:text-white">Choose your sport</label>
    <select id="countries" class="bg-white font-serif border border-gray-300 text-gray-500 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option selected>---Select---</option>
      <option value="US">Running</option>
      <option value="CA">Football</option>
      <option value="FR">Cricket</option>
      <option value="DE">Handball</option>
    </select>
  </form>
  




        <div class="flex justify-center">
          <button
            type="submit"
            (click)="onSubmit()"
            class="text-white mt-5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xl w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Submit
          </button>
        </div>
        <!-- <div class="flex flex-row gap-3 mt-4 bg-gray-100 p-1 ">
          <button
              class="flex items-center bg-white border border-gray-300 rounded-lg shadow-md max-w-sm px-6 py-2 text-lg font-medium text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
              <svg class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="-0.5 0 48 48" version="1.1">
          
                  <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Color-" transform="translate(-401.000000, -860.000000)">
                          <g id="Google" transform="translate(401.000000, 860.000000)">
                              <path
                                  d="M9.82727273,24 C9.82727273,22.4757333 10.0804318,21.0144 10.5322727,19.6437333 L2.62345455,13.6042667 C1.08206818,16.7338667 0.213636364,20.2602667 0.213636364,24 C0.213636364,27.7365333 1.081,31.2608 2.62025,34.3882667 L10.5247955,28.3370667 C10.0772273,26.9728 9.82727273,25.5168 9.82727273,24"
                                  id="Fill-1" fill="#FBBC05"> </path>
                              <path
                                  d="M23.7136364,10.1333333 C27.025,10.1333333 30.0159091,11.3066667 32.3659091,13.2266667 L39.2022727,6.4 C35.0363636,2.77333333 29.6954545,0.533333333 23.7136364,0.533333333 C14.4268636,0.533333333 6.44540909,5.84426667 2.62345455,13.6042667 L10.5322727,19.6437333 C12.3545909,14.112 17.5491591,10.1333333 23.7136364,10.1333333"
                                  id="Fill-2" fill="#EB4335"> </path>
                              <path
                                  d="M23.7136364,37.8666667 C17.5491591,37.8666667 12.3545909,33.888 10.5322727,28.3562667 L2.62345455,34.3946667 C6.44540909,42.1557333 14.4268636,47.4666667 23.7136364,47.4666667 C29.4455,47.4666667 34.9177955,45.4314667 39.0249545,41.6181333 L31.5177727,35.8144 C29.3995682,37.1488 26.7323182,37.8666667 23.7136364,37.8666667"
                                  id="Fill-3" fill="#34A853"> </path>
                              <path
                                  d="M46.1454545,24 C46.1454545,22.6133333 45.9318182,21.12 45.6113636,19.7333333 L23.7136364,19.7333333 L23.7136364,28.8 L36.3181818,28.8 C35.6879545,31.8912 33.9724545,34.2677333 31.5177727,35.8144 L39.0249545,41.6181333 C43.3393409,37.6138667 46.1454545,31.6490667 46.1454545,24"
                                  id="Fill-4" fill="#4285F4"> </path>
                          </g>
                      </g>
                  </g>
              </svg>
              <span>Continue with Google</span>
    </button>
    <button
      class="flex items-center bg-white border border-gray-300 rounded-lg shadow-md max-w-sm px-6 py-2 text-lg font-medium text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
      <svg class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 48 48" version="1.1">
          <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Color-" transform="translate(-200.000000, -160.000000)" fill="#4460A0">
                  <path
                      d="M225.638355,208 L202.649232,208 C201.185673,208 200,206.813592 200,205.350603 L200,162.649211 C200,161.18585 201.185859,160 202.649232,160 L245.350955,160 C246.813955,160 248,161.18585 248,162.649211 L248,205.350603 C248,206.813778 246.813769,208 245.350955,208 L233.119305,208 L233.119305,189.411755 L239.358521,189.411755 L240.292755,182.167586 L233.119305,182.167586 L233.119305,177.542641 C233.119305,175.445287 233.701712,174.01601 236.70929,174.01601 L240.545311,174.014333 L240.545311,167.535091 C239.881886,167.446808 237.604784,167.24957 234.955552,167.24957 C229.424834,167.24957 225.638355,170.625526 225.638355,176.825209 L225.638355,182.167586 L219.383122,182.167586 L219.383122,189.411755 L225.638355,189.411755 L225.638355,208 L225.638355,208 Z"
                      id="Facebook">
  
                  </path>
              </g>
          </g>
      </svg>
  
      <span>Continue with Facebook</span>
  </button>
          </div> -->
      </form>
    </div>
    
  </div>
